docker-compose exec web bash
# Then inside the container:
python import_chromebooks.py

Name = name,	Barcode Number = 	Code	Title	Call No.	Bar Code	Checkout Date	Due Date	Item Price

docker-compose restart db
docker-compose exec web psql -h db -U postgres -d library

df = pd.concat([df1, df2])

df = pd.concat([df1, df2], axis=1)

ALTER TABLE table_name
DROP COLUMN column_name;

psql -h db  -U postgres -d library

CREATE TABLE checkouts_devices (
    id SERIAL PRIMARY KEY,
    student_id INTEGER REFERENCES students(id),
    device_id INTEGER REFERENCES devices(id),
    checkout_date DATE,
    return_date DATE
);

In [18]:
import pandas as pd

df1 = pd.read_csv('~/Downloads/StudentsWRS.csv')
df2 = pd.read_csv('~/Downloads/StudentsRSE.csv')

df = pd.concat([df1, df2])

df = df[['Student Name', 'perm_id', 'staff']]
df.to_csv('library_students.csv', index=False)

print("number of students :", len(df))
print(df.head())

number of students : 489
                    Student Name  perm_id                 staff
0              Allan, Everett D.   101275      Baker, Elizabeth
1          Altamirano, Amirah S.   101891       McCormack, Sara
2         Altamirano, Sicilia A.   101892       McCormack, Sara
3               Amiot, Kailer J.   101748  Henderson, Nathanial
4  Anderson-Shinpaugh, Daxton T.   101612      Kadera, Carrigan

In [ ]:
import pandas as pd

CSV_PATH = "/backend/chromebook.txt"  # change if needed

def clean(CSV_PATH):
    df = pd.read_csv(CSV_PATH)
    print(df.columns)
    df.drop(columns=["Due Date"], inplace=True)

clean(CSV_PATH)

frontend/
├── src/
│   ├── components/
│   │   ├── AssetList.jsx
│   │   ├── AssetDetails.jsx
│   │   └── AssetForm.jsx
│   ├── pages/
│   │   ├── AssetTracker.jsx
│   │   ├── ViewAssets.jsx
│   │   └── CheckoutStatus.jsx
│   ├── services/
│   │   └── assetService.js
│   └── App.jsx
└── ...